input[type='range']{
    -webkit-appearance: none; /*hide the slider and create your own slider*/
    width: 100%;  /*Specific width is required for Firefox*/
    background-color: transparent; /*Because white in Chrome*/
}

input[type='range']:focus{
    outline: none;
}

input[type='range']::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 36px;
    border: 1px solid #000000;
    width: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    border-radius: 3px;
    margin-top: -14px; /*Specify in Chrome, but Firefox is automatic*/
    background-color: #fff;
}

input[type='range']::-moz-range-thumb{
    height: 36px;
    border: 1px solid #000000;
    width: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border-radius: 3px;
    background-color: #fff;
}

input[type='range']::-webkit-slider-runnable-track{
    height: 8.4px;
    border: 0.2px solid #010101;
    width: 100%;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border-radius: 1.3px;
    background-color: #3071a9;
}

input[type='range']:focus::-webkit-slider-runnable-track{
    background-color: #367ebd;
}

input[type='range']::-moz-range-track{
    height: 8.4px;
    border: 0.2px solid #010101;
    width: 100%;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border-radius: 1.3px;
    background-color: #3071a9;
}

input[type='range']:focus::-moz-range-track{
    background-color: #367ebd;
}